.button-input {
    border: 1px solid #BBB6B6;
    color: #554853;
    padding: 0.75em 2em;
    font-size: 20px;
    font-weight: 200;
    margin: 1.5em 0.5em;
    cursor: pointer;
    text-decoration: none !important;
    outline: none;
    display: inline-block;
    transition: background-color .35s ease-out;
}

.button-input:hover {
    background-color: #D4D9DD;
    border-color: #757C84;
    color: #605C64;
}